@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root {
    --font-texto-menu:'Poppins', sans-serif;
    --font-texto-apresentacao:'Nunito', sans-serif;
    --cor-de-fundo-pagina: #FBFEFD;
    --cor-fundo-menu: #FFFFFF;
    --cor-texto-menu1:#f59e0b;
    --cor-texto-menu2: #38bdf8;
    --cor-texto-menu3: #34d399;
    --cor-texto-ideias: #35b4ff;
    --cor-do-fundo-baner: linear-gradient(to right,#FFF278,#40C4FF);
    --cor-botao: #111827;
    --cor-fundo-projeto: #ed7854
}