.header {
    display: flex;
    position: relative;
}

.container-menu {
    display: none;
}

.lista-menu {
    position: absolute;
    display: none;
    top: 70px;
    right: 24px;
    background-color: var(--cor-fundo-menu);
    border-radius: 8px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.02), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.lista-menu-titulo{
    padding: 1em;
    font-family: var(--font-texto-menu);
    font-size: 16px;
    font-weight: 500;
}

.link1 {
    color: var(--cor-texto-menu1);
    text-decoration: none;
}

.link2 {
    color: var(--cor-texto-menu2);
    text-decoration: none;
}

.link3 {
    color: var(--cor-texto-menu3);
    text-decoration: none;
}

/*Quando o "container-menu (menu hambuger) for selecionado
(checked) mostrar a listagem do lista-menu */
.container-menu:checked ~ .lista-menu { 
    display: block;
}

.menu-hamburger {
    position: absolute;
    top: 40px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-image: url("../images/Menu.svg");
   
}

.logo {
    position: absolute;
    top: 40px;
    left: 24px;
}