.sobre-dados, .container-geral {
    display: none;
}

.sobre {
    margin-left: 24px;
    margin-top: 40px;
    
}

.foto-sobre {
    margin-left: 55px;
}

.descricao-sobre {
    margin-top: 32px;
    display: flex;
    align-items: flex-start;

}

.foto-barra {
    margin-left: 24px;
    width: 5px;
    height: 154px;
}

.texto-sobre {
    margin-left: 12px;
    font-size: 16px;
    font-family: var(--font-texto-apresentacao);
    color: var(--cor-botao);
    line-height: 22px;
}

.texto-skills {
    margin-top: 32px;
    font-size: 36px;
    font-family: var(--font-texto-menu);
    color: var(--cor-botao);
    margin-left: 24px;
}

.skills {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.skill-item {
    text-align: center;
    margin: 16px; 
}

.skill-item p {
    font-size: 16px;
    font-family: var(--font-texto-menu);
    color: var(--cor-botao);
    font-weight: 500;
}

@media screen and (min-width: 1280px){

    .descricao-sobre, .texto-skills, .skills, .foto-sobre, .sobre {
        display: none;
    }

    .sobre-dados{
        display: flex;
        margin-top: 80px;
        margin-left: 90px;
        width: 269px;
        height: 164px;
    }

    .container-geral{
        display: flex;
        margin-top: 40px;
        align-items: center;
    }

    .description img {
        margin-left: 90px;
    }

    .description p {
        font-family: var(--font-texto-apresentacao);
        font-size: 24px;
        margin-right: 20px;
        color: var(--cor-botao);
        letter-spacing: 2px;
    }
    .description {
        display: flex;
        align-items: flex-start;
    }

    .skills-description {
        margin-top: 48px;
        margin-left: 90px;
        font-family: var(--font-texto-menu);
        font-size: 52px;
        color: var(--cor-botao);
    }

    .icones-description {
        margin-top: 32px;
        margin-left: 90px;
        display: flex;
        align-items: center;
        column-gap: 53.5px;
    }

    .react-icon, .node-icon, .sql-icon {
        width: 124px;
        height: 124px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .react-icon p, .node-icon p, .sql-icon p {
        font-family: var(--font-texto-menu);
        font-size: 28px;
        color: var(--cor-botao);
    }

    .container-right img {
        width: 495px;
        height: 584.19px;
    }

    .test {
        margin-left: 20px;
    }
}